<div class="ui inverted fixed menu">
  <div class="ui secondary pointing menu ">
    <a class="item" (click)="imageShow()">
      <img src="resources/images/vault-icon.png" />
    </a>
    <a class="item" [routerLink]="['UserList']">
      Users
    </a>
    <a class="item" [routerLink]="['TagList']">
      Tags
    </a>
    <a class="item" [routerLink]="['LogList']">
      Logs
    </a>
  </div>
  <div class="right menu ">
    <a class="item" [routerLink]="['AddUser']">
      Add User
    </a>
  </div>
</div>
<div *ngIf="show" style="margin-top:70px; margin-bottom: -355px;">
<img src="resources/images/VaultBoy.png" class="ui image medium centered" />
</div>
